<div class="show-wrapper-home">
    <div id="o-wrapper" class="o-wrapper">
<button class="menu-open menu-open--htx">
  <span>toggle menu</span>
</button>
      <header>

        <div class="o-header">
          <div id="main_navigation">

              <nav class="navbar">

                <div class="menu-close">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>

                <%= link_to "Home", root_path, class: "navigation__link" %>
                <br>
                <%= link_to "Meus artigos", posts_path, class: "navigation__link" %>
                <br>
                <%= link_to "Meus projetos", projects_path, class: "navigation__link" %>
                <br>
                <%= link_to "Contato", new_contact_path, class: "navigation__link" %>
                <% if user_signed_in? %>
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, id: "sign-out" %>
               <% end %>
              </nav>
          </div>

          <script>

          (function() {

              "use strict";

              var toggle = document.querySelector(".menu-open");
              toggleHandler(toggle);

              function toggleHandler(toggle) {
                toggle.addEventListener( "click", function(e) {
                  e.preventDefault();
                  (this.classList.contains("is-active") === true) ? this.classList.remove("is-active") : this.classList.add("is-active");
                });
              }

            })();

            document.querySelector('.menu-open').onclick = function() {
              if (document.documentElement.classList.contains('menu-ativo')) {
                document.documentElement.classList.remove('menu-ativo');
              } else {
                document.documentElement.classList.add('menu-ativo');
              }
            };

          </script>

          <h1 id="main_title">Donizeti Jr</h1>
          <h4 id="subtitle">Estudante   //   Programador   //   Geek</h4>
       </div>
      </header>

    </div>

    <div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
        <h2>Sobre</h2>
        <hr>
        <p>Literally keffiyeh retro, cold-pressed single-origin coffee viral</p>
        <p>Pop-up 3 wolf moon seitan. Pitchfork normcore fanny pack iPhone,
        umami dreamcatcher 3 <a href="#">Wolf moon</a> crucifix salvia.</p>
        <p> Taxidermy asymmetrical prism, polaroid craft beer. </p>
      </div>

      <div class="col-2 homepage_content">
        <h2>Últimos textos</a></h2>
        <hr>
        <% @posts.each do |post| %>
          <h3><a href="#"><%= link_to post.title, post %></a></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
        <% end %>
      </div>

      <div class="col-3 homepage_content">
        <h2>Últimos Projetos</a></h2>
        <hr>
        <% @projects.each do |project| %>
          <h3><a href="#"><%= link_to project.title, project %></a></h3>
          <p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
        <% end %>
      </div>

    </div>

    <footer id="main_footer" class="main_footer">
      <div class="footer_links">
        <a class="facebook-icon"href="https://facebook.com"target="_blank">Facebook</a>
        <a class="twitter-icon" href="http://twitter.com" target="_blank">Twitter</a>
        <a clas="gplus-icon" href="http://google.com" target="_blank">GPlus</a>
        <a class="github-icon" href="http://github.com" target="_blank">Github</a>
      </div>
      <br>
      <p class="copyright">&copy;Donizeti Junior. All rights reserved. 2016</p>
    </footer>


    <a href="#top" id="bottom"></a>
  </div>
