<div class="show-wrapper-home">
    <div id="o-wrapper" class="o-wrapper">
      <button class="menu-open menu-open--htx">
        <span>toggle menu</span>
      </button>

      <header>

        <div class="o-header">
          <div id="main_navigation">
            <nav class="navbar">
              <div class="links">
                <li><%= link_to "Home", root_path, class: "navigation__link" %></li>
                <li><%= link_to "Meus artigos", posts_path, class: "navigation__link" %></li>
                <li><%= link_to "Meus projetos", projects_path, class: "navigation__link" %></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, id: "sign-out", class: "navigation__link" %></li>
               <% end %>
             </div>
            </nav>
          </div>

          <div class="text" id="main_title">DJÚNIOR</div>


       </div>
      </header>

    </div>

    <div id="about" class="wrapper wrapper_padding clearfix">
      <div class="homepage_content">
        <h2>Sobre</h2>
        <hr>
        <p>Literally keffiyeh retro, cold-pressed single-origin coffee viral</p>
        <p>Pop-up 3 wolf moon seitan. Pitchfork normcore fanny pack iPhone,
        umami dreamcatcher 3 <a href="#">Wolf moon</a> crucifix salvia.</p>
        <p> Taxidermy asymmetrical prism, polaroid craft beer. </p>
      </div>
    </div>

    <div class="wrapper wrapper_padding clearfix">
      <div class="homepage_content">
        <h2>Últimos textos</a></h2>
        <hr>
        <div class="site-columns">
          <% @posts.each do |post| %>
            <div class="col-1">
              <h3><a href="#"><%= link_to post.title, post %></a></h3>
              <p class="date"><%= post.created_at.strftime("Escrito em %d/%m/%Y") %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="wrapper wrapper_padding clearfix">
      <div class="homepage_content">
        <h2>Últimos Projetos</a></h2>
        <hr>
        <div class="site-columns">
          <% @projects.each do |project| %>
            <div class="col-1">
              <h3><a href="#"><%= link_to project.title, project %></a></h3>
              <p class="date"><%= project.created_at.strftime("Escrito em %d/%m/%Y") %></p>
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <div class="contact-wrapper wrapper wrapper_padding clearfix">
      <h2 class="page-category contact-title">Olá, como vai o seu dia?</h2>
      <hr class="contact-hr">
      <div class="skinny_wrapper wrapper_padding contact-form">
        <%= form_for @contact do |f| %>
          <div class="inputs-align">
            <div class="form-inputs">
              <%= f.label :name %><br>
              <%= f.text_field :name, required: true %>
            </div>

            <br>
            <div class="form-inputs">
              <%= f.label :email %><br>
              <%= f.text_field :email, required: true %>
            </div>
          </div>

          <br>

          <%= f.label :message %><br>
          <%= f.text_area :message, as: :text %>

          <div class="hidden">
            <%= f.label :nickname %><br>
            <%= f.text_field :nickname, hint: 'leave this field blank' %>
          </div>


          <%= f.submit 'Enviar mensagem', class: "button" %>
        <% end %>

      </div>
    </div>


    <footer id="main_footer" class="main_footer">
      <div class="footer_links">
        <a class="facebook-icon"href="https://facebook.com"target="_blank">Facebook</a>
        <a class="twitter-icon" href="http://twitter.com" target="_blank">Twitter</a>
        <a clas="gplus-icon" href="http://google.com" target="_blank">GPlus</a>
        <a class="github-icon" href="http://github.com" target="_blank">Github</a>
      </div>
      <div class="footer-icons">
         <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
         <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
         <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
         <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
    </footer>


    <a href="#top" id="bottom"></a>
  </div>
