<div class="posts">
  <div class="show-wrapper-home show-wrapper">

    <button class="menu-open menu-open--htx">
      <span>toggle menu</span>
    </button>

    <header>

      <div class="project-header">
        <div id="main_navigation">
          <nav class="navbar">
            <div class="links">
              <li><%= link_to "Home", root_path, class: "navigation__link" %></li>
              <li><%= link_to "Meus artigos", posts_path, class: "navigation__link" %></li>
              <li><%= link_to "Meus projetos", projects_path, class: "navigation__link" %></li>
              <li><%= link_to "Contato", new_contact_path, class: "navigation__link" %></li>
              <% if user_signed_in? %>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, id: "sign-out", class: "navigation__link" %></li>
             <% end %>
           </div>
          </nav>
        </div>

        <h1 class="page_title">“The more that you read, the more things you
            will know.” </h1>
      </div>
    </header>

    <h1 class="page-category">Meus projetos</h1>
    <div class="posts_wrapper" class="skinny_wrapper">
      <% @projects.each do |project| %>
        <div class="post project">
          <p class="date"><%= project.created_at.strftime('%A, %B %d') %></p>
          <h2><a href="article_show.html"><%= link_to project.title, project %></a></h2>
          <hr>
        </div>
      <% end %>
    </div>


    <footer id="main_footer">
      <div class="footer_links">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">GPlus</a>
        <a href="#">Github</a>
      </div>
      <div class="footer-icons">
         <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
         <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
         <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
         <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <br>

      <p class="copyright-articles">&copy;Donizeti Junior. All rights reserved. 2016</p>
    </footer>

    </div>
</div>
