<div id="post_show_content" class="wrapper wrapper_padding">

  <button class="menu-open menu-open--htx">
      <span>toggle menu</span>
    </button>

    <div class="article-header">
      <nav class="navbar">
        <div class="links posts-navbar__links">
          <li><%= link_to "Home", root_path, class: "navigation__link" %></li>
          <li><%= link_to "Meus artigos", posts_path, class: "navigation__link" %></li>
          <li><%= link_to "Meus projetos", projects_path, class: "navigation__link" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, id: "sign-out", class: "navigation__link" %></li>
         <% end %>
        </div>
      </nav>
    </div>

  <header>
    <p class="date"><%= @project.created_at.strftime('Escrito em %d/%m/%Y') %></p>
    <h1><%= @project.title %></h1>
    <hr>
  </header>

  <div id="content">
    <%= markdown @project.description %>

    <div class="button_wrapper">
      <a href="<%= @project.link %>" class="project_button" target="_blank">Visite <%= @project.title %></a>
    </div>
  </div>

  <% if user_signed_in? %>
    <div id="admin_links">
      <%= link_to "Editar", edit_project_path(@project) %>
      <%= link_to "Deletar", project_path(@project), method: :delete, data: {confirm: "Você tem certeza?"} %>
    </div>
  <% end %>

  <hr>

  <footer id="main_footer">
    <div class="footer_links">
      <a href="https://www.facebook.com/donizeti.junior.92" target="_blank">Facebook</a>
      <a href="https://github.com/DonizetiJr" target="_blank">Github</a>
    </div>
    <br>

    <p class="copyright">&copy;Donizeti Junior. All rights reserved. 2016</p>
  </footer>
</div>
