<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main class="o-container">
      <span id="c-button--push-right" class="c-button">&#9776;</span>
      <a href="#bottom" id="top"<img src="/images/arrows_down.png")></a>
    </main>

    <%= yield %>

    <nav id="c-menu--push-right" class="c-menu c-menu--push-right">
      <a href="javascript:void(0)" class="c-menu__close">&times;</a>
      <ul class="c-menu__items">
        <li class="c-menu__item"><a href="<%= root_path %>" class="c-menu__link current"> Home</a></li>
        <li class="c-menu__item"><a href="<%= posts_path %>" class="c-menu__link">Meus artigos</a></li>
        <li class="c-menu__item"><a href="<%= projects_path %>" class="c-menu__link">Meus projetos</a></li>
        <li class="c-menu__item"><a href="contact.html" class="c-menu__link">Contato</a></li>
      </ul>

      <nav class="social-icons">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </nav>
    </nav>

    <div id="c-mask" class="c-mask"></div>

  </body>
</html>
