<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Uses a transparent header that draws on top of the layout's background -->
  <style>
    .demo-layout-transparent {
      background: url('../assets/demos/transparent.jpg') center / cover;
    }
    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
      /* This background is dark, so we set text to white. Use 87% black instead if
         your background is light. */
      color: white;
    }
  </style>

  <div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <%= link_to "Home", root_path, class: "mdl-navigation__link" %>
          <%= link_to "Artigos", posts_path, class: "mdl-navigation__link" %>
          <%= link_to "Projetos", projects_path, class: "mdl-navigation__link" %>
          <%= link_to "Contato", new_contact_path, class: "mdl-navigation__link" %>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <nav class="mdl-navigation">
        <%= link_to "Home", root_path, class: "mdl-navigation__link first_link" %>
        <%= link_to "Meus artigos", posts_path, class: "mdl-navigation__link" %>
        <%= link_to "Meus projetos", projects_path, class: "mdl-navigation__link" %>
        <%= link_to "Contato", new_contact_path, class: "mdl-navigation__link" %>
      </nav>
      <nav class="social-icons">
        <a href="http://twitter.com/DCSJunior" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="http://facebook.com/donizeti.junior.92" target="_blank"><i class="fa fa-facebook"></i></a>
<a href="http://github.com/DonizetiJr" target="_blank"><i class="fa fa-github"></i></a>
      </nav>
    </div>
    <main class="mdl-layout__content">
    </main>
  </div>


    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
