<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width">
  <head>
    <title>Portfolio</title>
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Stalemate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <script>document.body.className += ' fade-out';</script>
    <script>
      $(function() {
        $('body').removeClass('fade-out');
      });
    </script>


  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

  <script>
  (function() {

      "use strict";

      var toggle = document.querySelector(".menu-open");
      toggleHandler(toggle);

        function toggleHandler(toggle) {
          toggle.addEventListener( "click", function(e) {
            e.preventDefault();
            (this.classList.contains("is-active") === true) ? this.classList.remove("is-active") : this.classList.add("is-active");
          });
        }

  })();

  if (document.documentElement.classList.contains('menu-ativo')) {
    document.documentElement.classList.remove('menu-ativo');
  }

  document.querySelector('.menu-open').onclick = function() {
    if (document.documentElement.classList.contains('menu-ativo')) {
      document.documentElement.classList.remove('menu-ativo');
    } else {
      document.documentElement.classList.add('menu-ativo');
    }
  };

  </script>

  </body>
</html>
